body
  background-color #ededed

.has-footer
  bottom 60px !important

.content
  background-color #ededed

.view
  background-color #ededed !important

.view.snap-drawers
  background-color #222

  .menu-right
    background-color #222
