div.loading
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  width 100%
  display flex
  display -webkit-flex
  justify-content center
  flex-flow column nowrap
  background-color #ededed

  i
    color #0aa5af
    font-size 50px
    margin auto
